# **🏠House Price Predict**

To Predict the Rental Price in Delhi. *see* **[LIVE WEBSITE](https://delhirentpredict.herokuapp.com/)**

##1. Problem Statement
> Predict the rental price in Delhi based on area  and other factors as well.

##2. Data
The dataset we're going to be using is extracted from www.makaan.com and was scraped using a chrome extension called Instant Data Scraper.

See the original source here: https://www.kaggle.com/saisaathvik/house-rent-prices-of-metropolitan-cities-in-india

##3. Key Features
  * Number of bedrooms
  * Number of bathrooms
  * Location
  * Area
  * Furnished Status

##4.  Deployemet
See Action here at : https://delhirentpredict.herokuapp.com/

##Getting Helper function

In [ ]:
!wget https://raw.githubusercontent.com/anmolmishra99/Subu/main/subu.py

--2022-03-01 17:24:06--  https://raw.githubusercontent.com/anmolmishra99/Subu/main/subu.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7004 (6.8K) [text/plain]
Saving to: ‘subu.py’

subu.py             100%[===================>]   6.84K  --.-KB/s    in 0s

2022-03-01 17:24:06 (78.6 MB/s) - ‘subu.py’ saved [7004/7004]

In [ ]:
from subu import setup_kaggle, unzip

In [ ]:
setup_kaggle(True)

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 69 bytes

In [ ]:
!kaggle datasets download -d saisaathvik/house-rent-prices-of-metropolitan-cities-in-india

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
house-rent-prices-of-metropolitan-cities-in-india.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
unzip('/content/house-rent-prices-of-metropolitan-cities-in-india.zip')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
delhi_df = pd.read_csv('/content/Delhi_rent.csv')

## Data Exploration:

In [ ]:
delhi_df.head()

  seller_type  bedroom layout_type  ...    area    furnish_type     bathroom
0       OWNER      1.0          RK  ...   500.0       Furnished  1 bathrooms
1       OWNER      1.0         BHK  ...   750.0  Semi-Furnished  1 bathrooms
2       OWNER      2.0         BHK  ...  1050.0  Semi-Furnished  2 bathrooms
3       OWNER      1.0         BHK  ...   550.0       Furnished  1 bathrooms
4       OWNER      2.0         BHK  ...   648.0       Furnished  1 bathrooms

[5 rows x 9 columns]

In [ ]:
for column in delhi_df.columns:
  print(delhi_df[column].value_counts())
  print('*'*31)

AGENT      29463
OWNER       3509
BUILDER       27
Name: seller_type, dtype: int64
*******************************
3.0     10304
2.0      8478
1.0      7292
4.0      5894
5.0       828
6.0        50
10.0       46
7.0        32
8.0        30
15.0       18
9.0        17
12.0        5
14.0        4
11.0        2
Name: bedroom, dtype: int64
*******************************
BHK    31026
RK      1974
Name: layout_type, dtype: int64
*******************************
Independent Floor    19146
Apartment             8602
Studio Apartment      1974
Independent House     1885
Villa                 1302
Penthouse               91
Name: property_type, dtype: int64
*******************************
Saket                      2168
Chattarpur                 1168
Vasant Kunj                1012
Paschim Vihar               759
Greater Kailash             738
                           ...
Greater Kailash N Block       1
Block D Kailash Colony        1
Sheikh Sarai Village          1
Shahabad Mohammadpur          1
Sector 34 Rohini              1
Name: locality, Length: 662, dtype: int64
*******************************
30,000    1051
25,000    1040
35,000    1032
15,000     912
12,000     837
          ...
4.22         1
17,158       1
29,300       1
12.56        1
23,800       1
Name: price, Length: 874, dtype: int64
*******************************
1800.0     1816
900.0      1686
1000.0     1326
500.0      1201
5562.0     1078
           ...
1155.0        1
6954.0        1
11020.0       1
11211.0       1
862.0         1
Name: area, Length: 1053, dtype: int64
*******************************
Semi-Furnished    16516
Unfurnished       10155
Furnished          6329
Name: furnish_type, dtype: int64
*******************************
2 bathrooms         10073
1 bathrooms          8569
3 bathrooms          7279
4 bathrooms          5561
5 bathrooms           860
6 bathrooms           108
7 bathrooms            37
9 bathrooms            37
8 bathrooms            35
10 bathrooms           29
NorthEast facing       16
East facing            11
Grfloor                 8
15 bathrooms            7
14 bathrooms            6
16 bathrooms            5
3 of 4floor             5
NorthWest facing        4
12 bathrooms            3
1 of 3floor             2
2 of 3floor             2
2 of 5floor             2
Gr of 2floor            2
4 of 9floor             1
3 of 3floor             1
2 of 4floor             1
3 of 5floor             1
South facing            1
North facing            1
SouthEast facing        1
Name: bathroom, dtype: int64
*******************************

In [ ]:
df = delhi_df.copy()
df.isna().sum()

seller_type      501
bedroom          500
layout_type      500
property_type    500
locality         500
price            500
area             500
furnish_type     500
bathroom         832
dtype: int64

In [ ]:
df.dropna(subset=['price'], inplace=True)

In [ ]:
df.drop('bathroom' , axis=1, inplace=True)

In [ ]:
df.isna().sum()

seller_type      1
bedroom          0
layout_type      0
property_type    0
locality         0
price            0
area             0
furnish_type     0
dtype: int64

In [ ]:
df.seller_type.isna().any()

True

In [ ]:
df.columns[df.isnull().any()].tolist()

['seller_type']

In [ ]:
#ind Rows Where Column/Field Is Null
print(df[df["seller_type"].isnull()]['seller_type'])

25843    NaN
Name: seller_type, dtype: object

In [ ]:
df[df["seller_type"].isnull()]

      seller_type  bedroom layout_type  ...  price    area furnish_type
25843         NaN      2.0         BHK  ...  6,500  1250.0    Furnished

[1 rows x 8 columns]

In [ ]:
df.dropna(subset=['seller_type'], inplace=True)

In [ ]:
df.isna().sum()

seller_type      0
bedroom          0
layout_type      0
property_type    0
locality         0
price            0
area             0
furnish_type     0
dtype: int64

In [ ]:
len(df)

32999

In [ ]:
df.head()

  seller_type  bedroom layout_type  ...   price    area    furnish_type
0       OWNER      1.0          RK  ...   9,999   500.0       Furnished
1       OWNER      1.0         BHK  ...  18,500   750.0  Semi-Furnished
2       OWNER      2.0         BHK  ...  13,000  1050.0  Semi-Furnished
3       OWNER      1.0         BHK  ...  10,000   550.0       Furnished
4       OWNER      2.0         BHK  ...  13,500   648.0       Furnished

[5 rows x 8 columns]

In [ ]:
df.price = df.price.replace(',', '', regex=True).astype(float)

In [ ]:
df.locality.value_counts()

Saket                      2168
Chattarpur                 1168
Vasant Kunj                1012
Paschim Vihar               759
Greater Kailash             738
                           ...
Greater Kailash N Block       1
Block D Kailash Colony        1
Sheikh Sarai Village          1
Shahabad Mohammadpur          1
Sector 34 Rohini              1
Name: locality, Length: 662, dtype: int64

In [ ]:
location_count = df['locality'].value_counts()
location_count

Saket                      2168
Chattarpur                 1168
Vasant Kunj                1012
Paschim Vihar               759
Greater Kailash             738
                           ...
Greater Kailash N Block       1
Block D Kailash Colony        1
Sheikh Sarai Village          1
Shahabad Mohammadpur          1
Sector 34 Rohini              1
Name: locality, Length: 662, dtype: int64

In [ ]:
location_count_less_10 = location_count[location_count <= 10 ]
location_count_less_10

AGCR Enclave               10
Aurungzeb Road             10
South Patel Nagar          10
Sector 18B Dwarka          10
Sri Niwaspuri              10
                           ..
Greater Kailash N Block     1
Block D Kailash Colony      1
Sheikh Sarai Village        1
Shahabad Mohammadpur        1
Sector 34 Rohini            1
Name: locality, Length: 442, dtype: int64

In [ ]:
df['locality'] = df.locality.apply(lambda x: 'other' if x in location_count_less_10 else x)
df.locality.value_counts()

Saket                 2168
other                 1324
Chattarpur            1168
Vasant Kunj           1012
Paschim Vihar          759
                      ...
Sewa Nagar              11
Paryavaran Complex      11
Sewak Park              11
Chirag Dilli            11
Sector 16 Rohini        11
Name: locality, Length: 221, dtype: int64

In [ ]:
df.dtypes

seller_type       object
bedroom          float64
layout_type       object
property_type     object
locality          object
price            float64
area             float64
furnish_type      object
dtype: object

## Detecting and removing outlayers

In [ ]:
df.describe()

            bedroom         price          area
count  32999.000000  32999.000000  32999.000000
mean       2.565502  19252.474140   2000.315949
std        1.216193  19353.357085   1853.833265
min        1.000000      1.000000    100.000000
25%        2.000000      8.540000    700.000000
50%        3.000000  15000.000000   1300.000000
75%        3.000000  28500.000000   2561.500000
max       15.000000  99000.000000  19800.000000

In [ ]:
df.price.min()

1.0

In [ ]:
(df.area/df.bedroom).describe()

count    32999.000000
mean       686.458192
std        358.984911
min        100.000000
25%        450.000000
50%        566.666667
75%        900.000000
max       2000.000000
dtype: float64

In [ ]:
len(df[df.price >1000])

24437

In [ ]:
df = df[((df.price > 500))]
len(df)

24437

In [ ]:
df.describe()

            bedroom         price          area
count  24437.000000  24437.000000  24437.000000
mean       2.113557  25996.768016   1105.353030
std        0.904371  18178.998371    641.299602
min        1.000000   1200.000000    100.000000
25%        1.000000  12500.000000    600.000000
50%        2.000000  21000.000000    940.000000
75%        3.000000  35000.000000   1600.000000
max        9.000000  99000.000000   7500.000000

In [ ]:
df.head()

  seller_type  bedroom layout_type  ...    price    area    furnish_type
0       OWNER      1.0          RK  ...   9999.0   500.0       Furnished
1       OWNER      1.0         BHK  ...  18500.0   750.0  Semi-Furnished
2       OWNER      2.0         BHK  ...  13000.0  1050.0  Semi-Furnished
3       OWNER      1.0         BHK  ...  10000.0   550.0       Furnished
4       OWNER      2.0         BHK  ...  13500.0   648.0       Furnished

[5 rows x 8 columns]

In [ ]:
df.to_csv('delhi_cleaned_csv')

## Preparing and Spliting Data

In [ ]:
X = df.drop('price', axis = 1)
y = df['price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline

In [ ]:
df.dtypes

seller_type       object
bedroom          float64
layout_type       object
property_type     object
locality          object
price            float64
area             float64
furnish_type      object
dtype: object

In [ ]:
cat_feature = ['seller_type', 'layout_type', 'property_type', 'locality', 'furnish_type']
cat_transformer = Pipeline(steps=[
     ('one_hot', OneHotEncoder(sparse=False, handle_unknown='ignore'))
])

In [ ]:
num_feature = ['area', 'bedroom']
num_trasformer = Pipeline(steps=[
     ('scaler', StandardScaler())
])

In [ ]:
preprocessor = ColumnTransformer(transformers=[
    ('cat', cat_transformer, cat_feature),
    ('num', num_trasformer, num_feature)
])

## Training On All Algo and Finding Best Algo

In [ ]:
## using Ridge
models = {
    'LR': LinearRegression(normalize=True),
    'lasso': Lasso(),
    'Ridge': Ridge(),
    'rfreg': RandomForestRegressor(),
}

In [ ]:
def fit_and_score(model, X_train, X_test, y_train, y_test):
  model_score = {}
  for name, model in models.items():
    prep = Pipeline(steps=[
         ('pre', preprocessor),
         ('model', model)
    ])
    prep.fit(X_train, y_train)
    model_score[name] = prep.score(X_test, y_test)
  return model_score

In [ ]:
model_scores = fit_and_score(models,X_train, X_test, y_train, y_test)
model_scores

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

{'LR': 0.7989344936202861,
 'Ridge': 0.7990080188502715,
 'lasso': 0.7983269990416402,
 'rfreg': 0.8691848267382856}

In [ ]:
model_scores

{'LR': 0.7989344936202861,
 'Ridge': 0.7990080188502715,
 'lasso': 0.7983269990416402,
 'rfreg': 0.8691848267382856}

## Fitting in Best Performing Model

In [ ]:
prep = Pipeline(steps=[
         ('pre', preprocessor),
         ('model', RandomForestRegressor())
    ])
prep.fit(X_train, y_train)
prep.score(X_test, y_test)

0.8704350307072644

In [ ]:
y_pred = prep.predict(X_test)
y_pred

array([13448.71428571, 18178.75      ,  7028.        , ...,
        9200.8051629 , 48721.77092352, 22170.        ])

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, mean_absolute_percentage_error
mae = mean_absolute_error(y_test, y_pred)
mae

3778.928083973089

In [ ]:
re = {'y_test': y_test,
      'y_pred': y_pred}
value = pd.DataFrame(re)
value

        y_test        y_pred
31878  20000.0  13448.714286
26587  18000.0  18178.750000
665     6000.0   7028.000000
4813   30000.0  27504.603175
32673  25000.0  31949.457557
...        ...           ...
19767  35000.0  36518.952381
31089  35000.0  33234.761905
3644   12500.0   9200.805163
30934  50000.0  48721.770924
33261  21000.0  22170.000000

[4888 rows x 2 columns]

## Saving Best Performing model with 87% R^2 Score

In [ ]:
import pickle

In [ ]:
pickle.dump(prep, open('RFR_Delhi_87_r2.pkl', 'wb'))